{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1>Get a joke</h1>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            {{ form_start(jokeForm) }}
            {{ form_end(jokeForm) }}
        </div>
    </div>
{% endblock %}
